
@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  height: 100vh; /* 全画面表示 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvPbsee_x-Fd2x2DOZlqY4HhWjKyNmY-xIMw&usqp=CAU);
  display: grid;
  place-content: center;
}

.contact-form {
  transform: scale(0.7, 0.7);
  border-radius: 15px;
  background-color: #fff;
  padding: 50px 30px;
}

.title {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  width: 460px;
  margin: 0 auto;
}

.item {
  overflow: hidden;
  margin-bottom: 20px;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: solid 3px #c2704f;
  padding-left: 10px;
}

.inputs {
  float: left;
  width: 300px;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #aaa;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  width: 300px;
  font-size: 15px;
}

.button-area {
  text-align: center;
}

input[type="submit"] {
  background: #c2704f;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

input[type="reset"] {
  background: #837a7a;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;

  cursor: pointer;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

<style>
.inputs {
  width: 400px;
  height: 80px;
}
</style>



|||
<style>
.inputs:last-of-type {
  width: 400px;
  height: 80px;
}
</style>

<div>
  <input type="text" class="inputs" name="name" required/>
  <input type="text" class="inputs" name="name" required/>
</div>




